<div class="container-fluid login-page">
  <div class="row">
    <div class="col-md-7"></div>
    <div class="col-md-5">
      <h4 class="form-heading">Admin Login</h4>
      <form class="form-horizontal login-form">
        <div class="form-group">
          <label>UserName</label>
          <input class="form-control" type="text">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input class="form-control" type="text">
        </div>
        <button class="btn btn-primary login-btn" routerLink='/admin/login/dashboard'>Submit</button>
        <a href="#" class="float-right forgot">Forgot Password?</a>
      </form>
    </div>
  </div>

</div>
