<div class="scenario-bg">
  <header class="">
	    <h1 class="logo-name text-white text-center pt-20">Sports11</h1>
  </header>
  <div class="container mt-20">
    <h5 class="text-white">Scenarios</h5>
    <div class="row">
    <div class="col-md-2">
      <a routerLink='/admin/login' target="_blank">
        <div class="program-tile-content text-center">
          <i class="fa fa-shield"></i>
              <p>Admin </p>
        </div>
      </a>
    </div>
    <div class="col-md-2">
    <a href="lawfirm/login.html" target="_blank">
      <div class="program-tile-content text-center">
      <i class="fa fa-user"></i>
            <p>User</p>
      </div>
      </a>
    </div>
    </div>
  </div>
</div>
